<footer class="bg-dark py-5 row d-print-none">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="footer_title">Nuance Mix</h4>
        <ul class="footer_items">
          <li>
            {{ with .Site.Params.links.mix.dashboard }}
            <a href="{{ .url }}" target="_blank"
              rel="noopener noreferrer" class="footer_item">{{ .name }}</a>
            {{ end }}
          </li>
          <li>
            {{ with .Site.Params.links.mix.documentation }}
            <a href="{{ .url }}" target="_blank"
              rel="noopener noreferrer" class="footer_item">{{ .name }}</a>
            {{ end }}
          </li>
        </ul>
      </div>
      <div class="col">
        <h4 class="footer_title">Community</h4>
        <ul class="footer_items">
          <li>
            {{ with .Site.Params.links.mix.forum }}
            <a href="{{ .url }}" target="_blank"
              rel="noopener noreferrer" class="footer_item">{{ .name }}</a>
            </li>
            {{ end }}
        </ul>
      </div>
      <div class="col">
        <h4 class="footer_title">Legal</h4>
        <ul class="footer_items">
          <li>
            {{ with .Site.Params.links.mix.privacy_policy }}
            <a href="{{ .url }}" target="_blank"
            rel="noopener noreferrer" class="footer_item">{{ .name }}</a>
            {{ end }}
          </li>
          <li>
            {{ with .Site.Params.links.mix.legal_terms }}
            <a href="{{ .url }}" target="_blank"
            rel="noopener noreferrer" class="footer_item">{{ .name }}</a>
            {{ end }}
          </li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
      <div class="text-center py-2 order-sm-2">
        {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ T
          "footer_all_rights_reserved" }}</small>{{ end }}
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        {{ if not .Site.Params.ui.footer_about_disable }}
        {{ with .Site.GetPage "about" }}<p class="text-center mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
        {{ end }}  
      </div>
    </div>
  </div>

</footer>